<div class="info-boxes wow fadeInUp">
    <div class="info-boxes-inner">
        <div class="row">
            {% for info in infos %}
                <div class="col-md-6 col-sm-4 col-lg-4">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="info-box-heading green">{{ info.title }}</h4>
                            </div>
                        </div>
                        <h6 class="text">{{ info.description }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.info-boxes-inner -->
</div>
<!-- /.info-boxes -->